PORT=9000
MONGODB_URI=mongodb+srv://parkchan1616_db_user:parkchan1616@topmate.sdtkfla.mongodb.net/?appName=topmate
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=syncaxis21@gmail.com
SMTP_PASS=ojpb mhsg ovux geap

MAIL_FROM="Topmate Sessions <syncaxis21@gmail.com>"
