PORT=9000
MONGODB_URI=mongodb://localhost:27017/topmate

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=syncaxis21@gmail.com
SMTP_PASS=ojpb mhsg ovux geap

MAIL_FROM="Topmate Sessions <syncaxis21@gmail.com>"
